/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // Default publishDir for unclassified processes
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]


    // --- Pre-processing & Reference Modules ---

    withName: 'CUSTOM_DOWNLOADCHROMSIZES'{
        publishDir = [
            enabled: false,
            path: { "${params.outdir}/References/${params.genome}" },
            mode: params.publish_dir_mode,
            pattern: '*.chrom.sizes'
        ]
    }

    withName: 'CUSTOM_FILTERCHROMSIZES'{
        publishDir = [
            enabled: false,
            path: { "${params.outdir}/References/${params.genome}" },
            mode: params.publish_dir_mode,
            pattern: 'filtered_*'
        ]
    }

    withName: 'BEDTOOLS_MAKEWINDOWS' {
            ext.args = { "-w ${params.binsize}" }
            ext.prefix = { "${params.genome}_${params.binsize}bp" }
            publishDir = [
                enabled: false,
                path: { "${params.outdir}/References/${params.genome}" },
                mode: params.publish_dir_mode,
                pattern: '*.bed'
            ]
        }

    withName: 'CUSTOM_FILTERBINS'{
        publishDir = [
            path: { "${params.outdir}/References/${params.genome}" },
            mode: params.publish_dir_mode,
            pattern: 'filtered_*'
        ]
    }

    withName: 'CUSTOM_SORTREF'{
        publishDir = [
            path: { "${params.outdir}/References/${params.genome}" },
            mode: params.publish_dir_mode,
            pattern: '*.v2'
        ]
    }

    // -----------------------------------------------------------------------
    // SECTION 01_Data: BAM Files (Processed & Indexed)
    // -----------------------------------------------------------------------

    withName: 'SAMTOOLS_REHEADER' {
	ext.args = { "-c 'sed -e \"s/^\\(@SQ.*\\)\\(\\tSN:\\)chr/\\1\\2/\"'" }
	ext.prefix = {"${bam.baseName}.nochr"}
        publishDir = [
            path: { "${params.outdir}/IndexFiles/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.nochr.bam'
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        ext.args = {"-b"}
        publishDir = [
            path: { "${params.outdir}/IndexFiles/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.nochr.bam.bai'
        ]
    }

    withName: 'CUSTOM_BEDCOUNTS'{
        publishDir = [
            path: { "${params.outdir}/Counts/${meta.id}_Methylation/" },
            mode: params.publish_dir_mode,
            pattern: '*.tab'
        ]
    }

    withName: 'BEDTOOLS_MAP' {
        ext.args = {'-c 4,5 -o mean -null 0'}
        ext.prefix = { "${meta.id}_${meta.epigenetic_mark}_binnedbedcounts" }
        publishDir = [
            path: { "${params.outdir}/Counts/${meta.id}_Methylation/" },
            mode: params.publish_dir_mode,
            pattern: '*binnedbedcounts.bed'
        ]
    }

    withName: 'CUSTOM_SHEETBAM'{
        publishDir = [
            path: { "${params.outdir}/Counts/${sample_id}_Histone/" },
            mode: params.publish_dir_mode,
            pattern: '*.txt'
        ]
    }

    withName: 'CUSTOM_BAMCOUNTS'{
        publishDir = [
            path: { "${params.outdir}/Counts/${sample_id}_Histone/" },
            mode: params.publish_dir_mode,
            pattern: '*.{tab,bed}'
        ]
    }

    withName: 'CUSTOM_STRIPHEADER'{
        publishDir = [
            enabled: false,
            path: { "${params.outdir}/Merged/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{tab,bed}'
        ]
    }

    withName: 'BEDTOOLS_INTERSECT' {
        ext.args = {'-wa -u'}
        ext.prefix = { "${meta.id}_binnedbedcounts_synced" }
        publishDir = [
            enabled: false,
            path: { "${params.outdir}/Counts/${meta.id}_Methylation/" },
            mode: params.publish_dir_mode,
            pattern: '*binnedbedcounts_synced.bed'
        ]
    }

    withName: 'CUSTOM_FILTERBED'{
        publishDir = [
            enabled: false,
            path: { "${params.outdir}/Counts/${meta.id}_Methylation/" },
            mode: params.publish_dir_mode,
            pattern: '*.tab'
        ]
    }

    withName: 'CUSTOM_JOINBED'{
        publishDir = [

            path: { "${params.outdir}/Counts/${sample_id}_Methylation/" },
            mode: params.publish_dir_mode,
            pattern: '*.{tab,bed}'
        ]
    }

    // -----------------------------------------------------------------------
    // SECTION 02_Data: EpiSegMix
    // -----------------------------------------------------------------------

    withName: 'EPISEGMIX_CONFIG'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/Model" },
            mode: params.publish_dir_mode,
            pattern: '*.yaml'
        ]
    }

    withName: 'EPISEGMIX_TRAINCOUNTS'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/Model" },
            mode: params.publish_dir_mode,
            pattern: '*.txt'
        ]
    }

    withName: 'EPISEGMIX_LDMTRAIN'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/Model/" },
            mode: params.publish_dir_mode,
            pattern: '*.{json,log}'
        ]
    }

    withName: 'EPISEGMIX_LDMDECODE'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/" },
            mode: params.publish_dir_mode,
            pattern: 'Segmentation',
        ]
    }

    withName: 'EPISEGMIX_LDMREPORT'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/" },
            mode: params.publish_dir_mode,
            pattern: "Plots/*",
        ]
    }

    withName: 'EPISEGMIX_DMTRAIN'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/Model/" },
            mode: params.publish_dir_mode,
            pattern: '*.{json,log}'
        ]
    }

    withName: 'EPISEGMIX_DMDECODE'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/" },
            mode: params.publish_dir_mode,
            pattern: 'Segmentation',
        ]
    }

    withName: 'EPISEGMIX_DMREPORT'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/" },
            mode: params.publish_dir_mode,
            pattern: "Plots/*",
        ]
    }

    withName: 'EPISEGMIX_DNATRAIN'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/Model/" },
            mode: params.publish_dir_mode,
            pattern: '*.{json,log}'
        ]
    }

    withName: 'EPISEGMIX_DNADECODE'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/" },
            mode: params.publish_dir_mode,
            pattern: 'Segmentation',
        ]
    }

    withName: 'EPISEGMIX_DNAREPORT'{
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${sample_id}/" },
            mode: params.publish_dir_mode,
            pattern: "Plots/*",
        ]
    }

    withName: 'EPISEGMIX_BESTDISTRIBUTION'{
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{csv,tsv}",
        ]
    }

}
